{#=====================================================
  Base template
  - Used as the basis of all pages
=====================================================#}

<!DOCTYPE html>

<html lang="en" data-theme="light">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Notes Demo {% block title %}{% endblock %}</title>

    <link rel="icon" href="/static/images/note.svg">


    <script src="/static/js/utils.js"></script>

      <script
      id="search-js"
      defer
      src="https://api.mapbox.com/search-js/v1.2.0/web.js"
      >
  </script>
  <script>
  const script = document.getElementById('search-js');
  script.onload = function() {
      mapboxsearch.autofill({
          accessToken: 'pk.eyJ1IjoicGFoeWRlIiwiYSI6ImNtdTYxY2xweDAwMmcyeXEwbTNmYWE5d3MifQ.VDpgTF7gbW36oKAKm_SmWQ'
      });
  };
  </script>
    

    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/messages.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>

 
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
</head>

<body>

    <header>
        <a href="/">
            Notes Demo
        </a>

{% if session.logged_in %}
    <a href="/logout">Logout</a>
    <a href="/messages">Messages</a>


{% else %}
    <a href="/login_page">Login</a>
    <a href="/signup_page">Sign-Up</a>
{% endif %}   
    </header>

    {# Show flash messages from any previous events #}
    {% include "partials/messages.jinja" %}

    <main>

        {% block content %}
        {% endblock %}

    </main>

</body>

</html>

