{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <a href="/login_page">Login to the website!</a>
    <a href="/signup_page">Signup to the website</a>

{% endblock %}

