{# hunt page #}

{% extends 'pages/_base.jinja' %}


{% block content %}




{# During the hunt:
# See list of who's participating, messages, initial ghost report, end hunt button. 
# If time: current location of alll the hunters. 

#After hunt: 
# A place to summarise the hunt outcomes, a place for recdcomended next steps, a place to get photos, option to return without report. 
# Figure out how to make this work. Ideas: Allocate one member to create the hunt. Other people send photos to them, they wreite report. Hunt leader situation could be helpful
#for other things I can't remember. First in is hunt leader? Or, reports get tacked on one after another.  #}



    <h1>make this say where the hunt is eventually.  </h1>
    
  
{# Get the hunt leader 
GEt the session
If they match, then allow photo videos
If they don't match, then booo
Later, make it so other can upload photos. That's going to require a new table I think. Maybe?
Each photo belongs to one hunt, but one hunt can have many photos. Figure out photos later. 
#}

<p> The hun t leader is {{hunt.huntLeader}} and the current user is {{current_user}}</p>
  {% if hunt.leader == current_user %}


  <p>Please submit a report on the hunt! </p>
  {% else%}
  <p>Only the leader can submit a report on the hunt. </p>
  {% endif%}


{% endblock %}
 
  