{# hunt page #}

{% extends 'pages/_base.jinja' %}


{% block content %}


    <h1>Hunt at {{hunt.location}}</h1>
    <h2>Hunt information:</h2>
    <p>{{hunt.details}} </p>
    
    <p>Reported by: </p>
   
   {% if hunt.reportedBy == none %} 
      <p>Anonomous</p>
    {%else%}
      {{ hunt.username}}
    {%endif%}
    <br>
    <p>Hunt reported on: {{ hunt.dateReported }}     </p>
   
   
    {% if session.logged_in %}
     <form method="post" action="/join_hunt/{{hunt.id}}">
    <button>Join Hunt</button>
     </form>
     {% else%}
     <p>Please log in to participate in the hunt! </p>
     {% endif%}

      <p>Hunt beginning on {{hunt.huntDate }}</p>
      <p>today is {{hunt.today}} and the hunt is set for {{hunt.huntDate}}</p>
     
     {# TODO Add a third and in here which doesn't let you go unless you have signed up for the hunt. #}
      
      
      {# {% if hunt.huntDate == hunt.today and session.logged_in%}  add back when I'm done. #}
      {% if session.logged_in %}
      <a href="/hunting/{{hunt.id}}">Hunt has started! Go to hunt page.</a>
      {%endif%}



{% endblock %}
 
  